
body p
{font-family:Bodoni MT Black;
font-style:oblique;
font-size:50px;
text-align:center;
background:Pink;
}
h3
{font-family:serif;
font-size:30px;
text-align:center;}
h4
{font-family:serif; 
font-size:20px;
text-align:center;}